// 滑动
.historyItem {
  display: flex;
  width: 100%;
  height: 10px;
  position: relative;

}
 
.historyItem .itemDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  font-size: 0.2rem;
  color: white;


  background: red;
}

.historyItem .title {
  border-bottom: 2px rgb(172, 169, 169) ;

}
.historyItem .itemEdit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  font-size: 0.2rem;
  color: white;

  background: rgb(63, 197, 63);
}

 
.historyItem .right {
  float: right;
  ;
}
 
.historyItem .itemCover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: white;
  border: 1px solid white;
}